
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1493099800052'); /* IE9*/
  src: url('iconfont.eot?t=1493099800052#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1493099800052') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1493099800052') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1493099800052#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yijianfankui:before { content: "\e60f"; }

.icon-project:before { content: "\e629"; }

.icon-bangong:before { content: "\e693"; }

.icon-geren:before { content: "\ec4d"; }

.icon-wangzhanguanli:before { content: "\e612"; }

.icon-employee:before { content: "\e611"; }

.icon-xitongguanli:before { content: "\e640"; }

.icon-xinxifabu:before { content: "\e60c"; }

.icon-gongwenguanli:before { content: "\e61f"; }

.icon-jiedai:before { content: "\e642"; }

.icon-hetong:before { content: "\e62f"; }

.icon-daima:before { content: "\e603"; }

.icon-renwuxietong:before { content: "\e630"; }

